@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;300&display=swap");

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Albert Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
}

header > img {
  width: 250px;
  height: 80px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-bar ul li {
  padding: 20px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #1a1a1a;
}

.performance-section {
  background-image: url("/images/landing.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

.performance-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
